{% extends 'common_provider.html' %}
{% load static %}
{% block content %}

<!-- ======================= Start Page Title ===================== -->
<div class="page-title">
  <div class="container">
    <div class="page-caption">
      <h2>Login</h2>
      <p><a href="#" title="Home">Home</a> <i class="ti-angle-double-right"></i> Login</p>
    </div>
  </div>
</div>
<!-- ======================= End Page Title ===================== --> 

<!-- ====================== Start Signup Form ============= -->
<section class="padd-top-80 padd-bot-80">
  <div class="container">
    <div class="log-box">
        <center><h3> Job Provider Login Form </h3></center>
        <hr>
        <center>
          {% if messages %}
          {% for message in messages %}
          <span {% if message.tags %} class="alert alert-{{ message.tags }}"
          {% endif %}>{{message}}</span>
          {% endfor %}
          <hr>
          {% endif %}
        </center>
        <form method="post" class="log-form" novalidate> {% csrf_token %}
          {{login_form.non_field_errors}}
          {% for i in login_form %}
            <div class="col-md-12">
              <div class="form-group">
                <label>{{i.label_tag}}</label>
                {{i}}
                <span class="errorlist">{{i.errors}}</span>
              </div>
            </div>
          {% endfor %}
            <div class="col-md-12">
              <div class="form-group text-center mrg-top-15">
                <button type="submit" class="btn theme-btn btn-m full-width">Login</button>
              </div>
            </div>
            <div class="clearfix"></div>			
        </form>
        <center><a href="{% url 'Provider:provider_forgotpw' %}">Forgot Password?</a></center>
        <center><a href="{% url 'Provider:provider_reg' %}">Don't Have an Account?</a></center>
      </div>
  </div>
</section>
<!-- ====================== End Signup Form ============= --> 

{% endblock content %}
