{% extends 'common_provider.html' %}
{% load static %}
{% block content %}

<!-- ======================= Page Title ===================== -->
<div class="page-title">
	<div class="container">
		<div class="page-caption">
			<h2>Job Provider Profile Settings</h2>
			<p>
				<a href="#" title="Home">Home</a>
				<i class="ti-angle-double-right"></i>Job Provider Profile Settings
			</p>
		</div>
	</div>
</div>
<!-- ======================= End Page Title ===================== -->

<!-- ================ Profile Settings ======================= -->
<form method="POST" enctype="multipart/form-data" novalidate> {% csrf_token %} 
    {{ provider_user_form.non_field_errors }}
	{{ provider_profile_form.non_field_errors }}
	<section class="padd-top-80 padd-bot-80">
		<div class="container">

			<div class="row">
				<div class="col-md-3">
					<div id="leftcol_item">
						<div class="user_dashboard_pic">
                            {% if not img %} 
							<img alt="user photo" src="/img/user-profile.png">
                            {% else %}
                            <img alt="user photo" src="{{img}}">
                            {% endif %}
							<span>{{provider_profile_form.avatar}}</span>
						</div>
					</div>
                   
					<div class="dashboard_nav_item">
						<ul>
                            <li class="active">
								<a href="{% url 'Provider:provider_profile' %}">
									<i class="login-icon ti-user"></i> User Profile </a>
							</li>

							<li>
								<a href="{% url 'Provider:post_job' %}">
									<i class="login-icon ti-layout-cta-btn-right"></i> Post Jobs </a>
							</li>
							<li>
								<a href="{% url 'Provider:managejobs' %}">
									<i class="login-icon ti-menu-alt"></i> Manage Jobs </a>
							</li>
							<li>
								<a href="{% url 'Provider:all_applicants_list' %}">
									<i class="login-icon fa fa-users"></i> Applied Applicants </a>
							</li>
							<li>
								<a href="{% url 'Provider:provider_set_password' %}">
									<i class="login-icon ti-key"></i> Change Password </a>
							</li>
							<li>
								<a href="{% url 'Provider:provider_logout' %}">
									<i class="login-icon ti-power-off"></i> Logout </a>
							</li>
						</ul>
					</div>
				</div>
                <center>
                {% if messages %} 
                {% for message in messages %} 
                    <span {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{message}}</span>
                {% endfor %} 
                <br>
                <br>
                {% endif %}
                </center>
                <div class="col-md-9">
                    <div class="profile_detail_block">

						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-group">
								<label>{{provider_user_form.username.label_tag}}</label>
								{{provider_user_form.username}}
                                <span class="errorlist">{{provider_user_form.username.errors}}</span>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-group">
								<label>{{provider_user_form.email.label_tag}}</label>
								{{provider_user_form.email}}
                                <span class="errorlist">{{provider_user_form.email.errors}}</span>
							</div>
						</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>{{ provider_profile_form.fname.label_tag }}</label>
                                {{ provider_profile_form.fname }}
                                <span class="errorlist">{{ provider_profile_form.fname.errors }}</span>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>{{ provider_profile_form.lname.label_tag }}</label>
                                {{ provider_profile_form.lname }}
                                <span class="errorlist">{{ provider_profile_form.lname.errors }}</span>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-5 col-xs-6">
                            <div class="form-group">
                                <label>{{ provider_profile_form.c_name.label_tag }}</label><br>
                                {{ provider_profile_form.c_name }}
                                <span class="errorlist">{{ provider_profile_form.c_name.errors }}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 col-xs-6">
                            <div class="form-group">
                                <label>{{ provider_profile_form.c_email.label_tag }}</label><br>
                                {{ provider_profile_form.c_email }}
                                <span class="errorlist">{{ provider_profile_form.c_email.errors }}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 col-xs-6">
                            <div class="form-group">
                                <label>{{ provider_profile_form.c_website.label_tag }}</label><br>
                                {{ provider_profile_form.c_website }}
                                <span class="errorlist">{{ provider_profile_form.c_website.errors }}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 col-xs-6">
                            <div class="form-group">
                                <label>{{ provider_profile_form.c_descrip.label_tag }}</label><br>
                                {{ provider_profile_form.c_descrip }}
                                <span class="errorlist">{{ provider_profile_form.c_descrip.errors }}</span>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>{{ provider_profile_form.age.label_tag }}</label>
                                {{ provider_profile_form.age }}
                                <span class="errorlist">{{ provider_profile_form.age.errors }}</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>{{ provider_profile_form.tel.label_tag }}</label>
                                {{ provider_profile_form.tel }}
                                <span class="errorlist">{{ provider_profile_form.tel.errors }}</span>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-5 col-xs-6">
                            <div class="form-group">
                                <label>{{ provider_profile_form.gender.label_tag }}</label><br>
                                {{ provider_profile_form.gender }}
                                <span class="errorlist">{{ provider_profile_form.gender.errors }}</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-5 col-xs-6">
                            <div class="form-group">
                                <label>{{ provider_profile_form.area.label_tag }}</label><br>
                                {{ provider_profile_form.area }}
                                <span class="errorlist">{{ provider_profile_form.area.errors }}</span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ provider_profile_form.address.label_tag }}</label>
                                {{ provider_profile_form.address }}
                                <span class="errorlist">{{ provider_profile_form.address.errors }}</span>
                            </div>
                        </div>

						<div class="clearfix"></div>
						<div class="col-md-12 padd-top-10 text-center">
							<input type="submit" value="submit" class="btn btn-m theme-btn full-width">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
<!-- ================ End Profile Settings ======================= -->
{% endblock content %}
