{% extends 'common_provider.html' %}
{% load static %}
{% block content %}

<!-- ======================= Page Title ===================== -->
<div class="page-title">
	<div class="container">
		<div class="page-caption">
			<h2>Manage Jobs</h2>
			<p>
				<a href="#" title="Home">Home</a>
				<i class="ti-angle-double-right"></i>Manage Jobs
			</p>
		</div>
	</div>
</div>
<!-- ======================= End Page Title ===================== -->

<!-- ================ Profile Settings ======================= -->

	<section class="padd-top-80 padd-bot-80">
		<div class="container">

			<div class="row">
				<div class="col-md-3">
					<div id="leftcol_item">
						<div class="user_dashboard_pic">
                            {% if not img %} 
							<img alt="user photo" src="/img/user-profile.png">
                            {% else %}
                            <img alt="user photo" src="{{img}}">
                            {% endif %}
						</div>
					</div>
					<div class="dashboard_nav_item">
						<ul>
                            <li >
								<a href="{% url 'Provider:provider_profile' %}">
									<i class="login-icon ti-user"></i> User Profile </a>
							</li>

							<li>
								<a href="{% url 'Provider:post_job' %}">
									<i class="login-icon ti-layout-cta-btn-right"></i> Post Jobs </a>
							</li>
							<li class="active">
								<a href="{% url 'Provider:managejobs' %}">
									<i class="login-icon ti-menu-alt"></i> Manage Jobs </a>
							</li>
							<li>
								<a href="{% url 'Provider:all_applicants_list' %}">
									<i class="login-icon fa fa-users"></i> Applied Applicants </a>
							</li>
							<li>
								<a href="{% url 'Provider:provider_set_password' %}">
									<i class="login-icon ti-key"></i> Change Password </a>
							</li>
							<li>
								<a href="{% url 'Provider:provider_logout' %}">
									<i class="login-icon ti-power-off"></i> Logout </a>
							</li>
						</ul>
					</div>
				</div>
 
                <div class="col-md-9">
                	<div class="profile_detail_block" style="width:100% ;">
                		<div class="row">
                			<h3 style="text-align:center; margin-bottom: 0;">View Job</h3>
                			<hr>
                			<div class="container utf_manage_jobs_area" style="width: 100%;">
                				<div class="detail-wrapper">
                					<div class="detail-wrapper-body">
                						<div class="row">
                							<div class="col-md-4 text-center user_profile_img">
                								<img src="{{img}}" class="width-100" alt="" />
                								<h4 class="meg-0">{{job.title}}</h4>
                                                <span><b>{{job.user.provider_profile_model.c_name}}</b></span>
                								<span>{{job.location}}</span>
                							</div>
                							<div class="col-md-8 user_job_detail">
                								<div class="col-sm-12 mrg-bot-10">
                									<i class="ti-credit-card padd-r-10"></i>{{job.salary_min}} To {{job.salary_max}}/Month
                								</div>
                								<div class="col-sm-12 mrg-bot-10">
                									<i class="ti-mobile padd-r-10"></i>{{job.user.provider_profile_model.tel}}
                								</div>
                								<div class="col-sm-12 mrg-bot-10">
                									<i class="ti-email padd-r-10"></i>{{job.user.provider_profile_model.c_email}}
                								</div>
                								<div class="col-sm-12 mrg-bot-10">
                									<i class="ti-calendar padd-r-10"></i>
                									<span class="full-type">Full Time</span>
                								</div>
                								<div class="col-sm-12 mrg-bot-10">
                									<i class="ti-shield padd-r-10"></i>Experience: {{job.experience_years}}
                								</div>
                								<div class="col-sm-12 mrg-bot-10">
                									<i class="ti-time padd-r-10"></i>Created on: {{job.created_at}}
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>
								<div class="detail-wrapper">
                					<div class="detail-wrapper-header">
                						<h4>Required Skills</h4>
                					</div>
                					<div class="detail-wrapper-body">
                						<p>{{job.skills_required}}</p>
                					</div>
                				</div>
                				<div class="detail-wrapper">
                					<div class="detail-wrapper-header">
                						<h4>Job Description</h4>
                					</div>
                					<div class="detail-wrapper-body">
                						<pre style="font-family: Arial, Helvetica">{{job.description}}</pre>
                					</div>
                				</div>
								<div class="text-center">
                                    <a href="{% url 'Provider:edit_job' job.id %}" style="color: #fff; background-color: blue; padding: 10px 20px; border-radius: 5px;">Edit Job</a>
									<a href="{% url 'Provider:delete_job' job.id %}" style="color: #fff; background-color: red; padding: 10px 20px; border-radius: 5px;">Delete Job</a>
                                </div>
								<br><hr>
                                <div class="text-center">
                                    <a href="{% url 'Provider:managejobs' %}" style="color: #fff; background-color: #424242; padding: 10px 20px; border-radius: 5px;">Back to Manage Jobs</a>
                                    </div>
                                </div>
                			</div>
                		</div>
                		<!-- End Row -->
                	</div>
                	<div class="clearfix"></div>
                </div>
			</div>
		</div>
	</section>

{% endblock content %}
