{% extends 'common.html' %}
{% load static %}
{% block content %}

<!-- ======================= Page Title ===================== -->
<div class="page-title">
	<div class="container">
		<div class="page-caption">
			<h2>Job Application</h2>
			<p>
				<a href="#" title="Home">Home</a>
				<i class="ti-angle-double-right"></i>Job Application
			</p>
		</div>
	</div>
</div>
<!-- ======================= End Page Title ===================== -->

<!-- ================ Profile Settings ======================= -->

	<section class="padd-top-80 padd-bot-80">
		<div class="container">

			<div class="row">
				<div class="col-md-3">
					<div id="leftcol_item">
						<div class="user_dashboard_pic">
                            {% if not img %} 
							<img alt="user photo" src="/img/user-profile.png">
                            {% else %}
                            <img alt="user photo" src="{{img}}">
                            {% endif %}
						</div>
					</div>
					<div class="dashboard_nav_item">
						<ul>
                            <li>
								<a href="{% url 'Seeker:seeker_profile' %}">
									<i class="login-icon ti-user"></i> User Profile </a>
							</li>
							<li>
								<a href="{% url 'Seeker:seeker_job_profile' %}">
									<i class="login-icon ti-bag"></i> Job Profile </a>
							</li>
							<li>
								<a href="{% url 'Seeker:applied_jobs' %}">
									<i class="login-icon ti-dashboard"></i> Applied Jobs </a>
							</li>
							<li>
								<a href="{% url 'Seeker:Seeker_set_password' %}">
									<i class="login-icon ti-key"></i> Change Password </a>
							</li>
							<li>
								<a href="{% url 'Seeker:seeker_logout' %}">
									<i class="login-icon ti-power-off"></i> Logout </a>
							</li>
						</ul>
					</div>
				</div>
 
                <div class="col-md-9">
                	<div class="profile_detail_block" style="width:100% ;">
                		<div class="row">
                			<h3 style="text-align:center; margin-bottom: 0;">Apply for {{job}}</h3>
                			<hr>
                			<form method="POST" enctype="multipart/form-data" novalidate> {% csrf_token %} 
                                {{ form.non_field_errors }}

                                {% for i in form %}

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>{{ i.label_tag }}</label>
                                            {{ i }}
                                            <span class="errorlist">{{ i.errors }}</span>
                                        </div>
                                    </div>
                                
                                {% endfor %}

                                    <div class="clearfix"></div>
                                    <div class="col-md-12 padd-top-10 text-center">
                                        <input type="submit" value="submit" class="btn btn-m theme-btn full-width">
                                    </div>
                            </form>
                		</div>
                		<!-- End Row -->
                	</div>
                	<div class="clearfix"></div>
                </div>
			</div>
		</div>
	</section>

{% endblock content %}
